@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand: oklch(0.596 0.1612 258.0481);
  --color-brand-dark: oklch(0.48 0.16 258);
  --color-gold: oklch(0.6698 0.1534 49.3588);
  --font-sans: "Inter", system-ui, sans-serif;
}

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
